@page "/transactions"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">홈</a></li>
        <li class="breadcrumb-item active" aria-current="page">트랜잭션 상세조회</li>
    </ol>
</nav>
@code {

}
