body {
    font-family: 'Noto Sans KR', sans-serif !important;
}

.no-border-radius{
    border-radius: 0;
}

.logo{
    width: 200px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

[data-bs-theme="light"] .logo {
    background-image: url('../images/logo_light.png');
}

[data-bs-theme="dark"] .logo {
    background-image: url('../images/logo_dark.png');
}